*{
    box-sizing: border-box;
}
html{
    font-size: 10px;
    --desc-color: #5F5B53;
    --font-desc: Poppins;
    --title-color: #171100;
    --font-title: Sen;
    --hover-btn-color: #FFB900;
    --btn-color:#171100;
    --btn-font: Poppins;
    --transition-hover: 0.15s;
}
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Sen', sans-serif;
    font-size: 1.6rem;
}
html, body{

}
/* -------------COMMON------------ */
.sen{
    color: var(--sen-color);
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}
.poppins{
    color: var(--desc-color);
    font-family: var(--font-desc);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    color: #FFF;
    font-family: var(--btn-font);
    font-weight: 600;
    background: var(--btn-color);
    border-radius: 25px;
    min-width: 137px;
    text-align: center;
}
.line-clamp{
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 3);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp.line-4{
    --line-clamp: 4;
}
.line-clamp.line-5{
    --line-clamp: 5;
}
/* -------------Header------------ */
#header{
    min-height: 100vh;
    background: #FFFCF4;
}
.content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
.nav{
    display: flex;
    align-items: center;
    padding-top: 36px;
}
.nav ul {
    display: flex;
    margin-left: auto;
}
.nav li.active a{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after{
    position: absolute;
    left: 21px;
    bottom: 6px;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
}
.nav ul a{
    position: relative;
    padding: 8px 21px;
    color: var(--desc-color);
    font-family: Poppins;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.nav ul a:hover{
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.nav .sign-up{
    margin-left: 50px;
    padding: 16px 40px;
    font-size: 1.6rem;
    border-radius: 24.5px;
}
.nav .sign-up:hover{
    background-color: var(--hover-btn-color);
    transition-duration: var(--transition-hover);
}
/* -------------Hero------------ */
#header .box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 64px;
}
.img-card{
    position: relative;
    padding-bottom: 65px;
}
.hero-img{
    border-radius: 20px;
    width: 470px;
    height: 685px;
    object-fit: cover;
}
.box .card{
    position: absolute;
    width: 270px;
    min-height: 244px;
    bottom: 113px;
    right: -100px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.box .column{
    margin: 28px 24px;   
}
.box .items{
    display: flex;
    align-items: center;
}
.box .items:not(.box .items:last-child){
    margin-bottom: 14px;
}
.box .circle{
    padding: 9px 11px;
    margin-right: 16px;
    border-radius: 50%;
}
.box .courses-quantity{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
.box .courses-name{
    color: #171100;
    font-family: var(--font-desc);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero{
    width: 470px;
}
.hero .title{
    margin-bottom: 22px;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .cta{
    display: flex;
    align-items: center;
    margin-top: 38px;
    margin-bottom: 48px;
}
.hero .see-courses{
    border-radius: 32px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
    padding: 16px 32px;
}
.hero .see-courses:hover{  
    background: var(--hover-btn-color);
    transition-duration: var(--transition-hover);
}
.hero .cta-play-vid{
    display: flex;
    color: #171100;;
}
.hero .play-btn{
    font-size: 14px;
    padding: 8px 10px;
    margin: 0 10px 0 28px;
    border-radius: 50%;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.hero .cta-play-vid:hover{
    color: var(--hover-btn-color);
    transition-duration: var(--transition-hover);
}

.hero .sub-title{
    font-family: var(--font-desc);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
.hero .statistical{
    display: flex;
    margin-top: 8px;
}
.hero .statistical .desc{
    margin-right: 28px;
}
.hero .statistical strong{
    color: var(--title-color);
    margin-right: 14px;
    font-family: var(--font-title);
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.22;
}
/* -------------Popular------------ */
#popular{
    padding: 200px 0;
}
#popular .row{
    display: flex;
    gap: 30px;
}
#popular .items{
    border-radius: 12px;
    border: 1px solid #E2DFDA;
    background: #FFF;
}
#popular .items:hover  {
    border: 1px solid #FFF;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
    transition-duration: var(--transition-hover);
}
#popular .popular-img{
    width: calc(100% + 2px);
    height: 278px;
    margin: -1px;
    border-radius: 12px 12px 0px 0px;
    object-fit: cover;
}
#popular .row-content{
    margin: 16px 22px 22px;
}
#popular .desc-switch{
    display: flex;
    justify-content: space-between;
}
#popular .title-rating{
    display: flex;
    justify-content: space-between;
}
#popular .star-rating{
    display: flex;
    align-items: center;
}
#popular .rating{
    align-items: center;
    margin-left: 6px;
    color: #FEA31B;
    font-size: 1.6rem;
    line-height: 1.75;
}
#popular .title-desc{
    max-width: 458px;
    margin-bottom: 55px;
}
.desc-switch .title{
    margin-bottom: 16px;
}
#popular .switch-btn .left, #popular .switch-btn .right{
    color: #FFB900;
    font-size: 16px;
    padding: 12px 16px;
    border: 1px solid #FFB900;
    border-radius: 50%;
}
#popular .switch-btn{
    margin-top: 42px;
}
#popular .switch-btn .right{
    margin-left: 16px;
}
#popular .switch-btn span:hover{
    color: #FFF;
    background-color: var(--hover-btn-color);
    transition-duration: var(--transition-hover);
}
#popular .row .title{
    color: var(--title-color);
    font-family: var(--font-desc);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
#popular .row .desc{
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.85;
}
#popular .price-cta-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}
#popular .row .cta{
    padding: 12px 24px;
    font-family: var(--font-desc);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85;
    min-width: 118px;
}
#popular .row .cta:hover{
    background: var(--hover-btn-color);
    transition-duration: var(--transition-hover);
}
#popular .row .price{
    color: var(--title-color);
    font-family: var(--font-desc);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}
/* -------------Quote------------ */
#quote{
    background: #2E2100;
    padding: 96px 0;
}
#quote .quote-group{
    display: flex;
    overflow: hidden;
}
#quote .quote-block{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}
#quote .object-block{
    width: 34%;
}
#quote .object-img{
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 18px;
}
#quote .object-name{
    color: #F7F7F7;
    font-size: 2.4rem;
    line-height: 1.41;
    letter-spacing: normal;
    margin-bottom: 4px;
}
#quote .object-info{
    color: #BFBCB2;
    font-size: 1.4rem;
    line-height: 1.85;
    margin-bottom: 26px;
}
#quote .dot{
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #634700;
    cursor: pointer;
}
#quote .active{
    background: #FFB900;
    cursor: auto;
}
#quote .quote-content{
    width: 66%;
}
#quote .quote-group .desc{
    width: 96%;
    margin-left: 30px;
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.53;
}
/* -------------Feature------------ */
#feature .content{
    padding-top: 200px;
}
#feature .feature-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#feature .img-block{
    display: flex;
    width: 49%;
    gap: 0 30px;
}
#feature .img{
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
#feature .left{
    margin-top: 34px;
}
#feature .text-block{
    width: 41%;
}
#feature .desc{
    font-size: 1.6rem;
    margin-top: 16px;
    line-height: 1.75;
}
#feature .sign-up{
    padding: 11px 37px;
    margin-top: 32px;
    line-height: 1.75;
 }
 #feature .sign-up:hover{
    background: var(--hover-btn-color);
    transition-duration: var(--transition-hover);
 }
 /* -------------Feature 2------------ */
 #feature .img-2{
    width: 470px;
    height: 440px;
    border-radius: 20px;
 }
 #feature .text-block-2{
    width: 49%;
 }
  /* -------------Blog------------ */
#blog{
    background: #FFFCF4;
    padding: 96px 0 ;
}
#blog .text-blog{
    text-align: center;
}
#blog .text-blog .desc{
    width: 39%;
    margin: 16px auto 55px;
}
#blog .blog-box{

}
#blog .blog-list{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    gap: 0 30px;
    margin-bottom: 38px;
}
#blog .blog-items{
    width: 33.33%;
    border-radius: 16px;
    background: #FFF;
}
#blog .blog-items:hover{
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
#blog .thumb{
    width: 100%;
    height: 250px; 
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
#blog .blog-text{
    margin: 20px 20px 28px;
}

#blog .blog-items .date{
    position: relative;  
    display: inline-flex;
    padding-bottom: 12px;
    align-items: center;
    font-size: 1.4rem;
    line-height: 1.85;
}
#blog .blog-items .date::before{
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 4px;
    border-radius: 50%;
    background: #FFB900;
}
#blog .blog-items .date::after{
    content: "";
    display: block;
    width: calc(100% + 27px);
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    border-radius: 999px;
    background: #E2DFDA;
}
#blog .blog-items .title{
    margin: 12px 0;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
#blog .cta{
    line-height: 1.85;
    padding: 11px 21px;
}
#blog .cta:hover{
    background: var(--hover-btn-color);
}
#blog .blog-box .dots{
    display: flex;
    justify-content: center;
    gap: 6px;
}
#blog .blog-box .dot{
    flex-shrink: 0;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #5F5B53 ;
}
#blog .blog-box .active{
    background: #FFB900;
}
